[Unit]
Description=CPU Temp monitor
Wants=multi-user.target
After=multi-user.target

[Service]
Type=simple
User=deck
ExecStart=/usr/local/bin/cpu-alarm-service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
